<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
    <ul class="flex flex-col p-4 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-lg md:font-medium md:border-0">
        {% for item in navigation %}
            <li>
                <a class="block py-2 pl-3 pr-4 md:p-0 navigation-item-link{% if item.url === page.url %} active{% endif %}" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>