<!-- navbar goes here -->
<header class="h-10">
    <nav class="font-sans">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div
                    class="flex space-x-4">
                    <!-- logo -->
                    <div></div>
                    <!-- primary nav -->
                    <div class="hidden md:flex items-center space-x-1 font-semibold uppercase text-2xl">
                        {% for item in navigation %}
                            <a class="nav-item py-5 px-3 {% if item.url === page.url %} underline decoration-fuchsia-700 decoration-double{% endif %}" href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <!-- mobile button goes here -->
                <div class="md:hidden flex items-center pt-5">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-2">{% include "theme-switcher.njk" %}</div>
            </div>
        </div>
        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden md:block w-full z-10 absolute">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            {% for item in navigation %}
                <li>
                    <a class="mobile-nav-item block py-2 px-4 text-sm navigation-item-link {% if item.url === page.url %} underline decoration-fuchsia-700 decoration-double{% endif %}" href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </nav>
</header>