body {
  margin-top: 100px !important;
}

.navbar {
  min-height: 100px !important;
}

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all 0.3s ease;
}

a.nav-link {
  position: relative;
}

a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  content: "."; /* make invisible, dot beneath links */
  color: transparent;
  background: #00887a;
  height: 2px;
  transform: scaleX(0);
}

a.nav-link:hover:after {
  transform: scaleX(0.8);
}
