:root:not(.dark) {
  --color-accent: hsl(357, 96%, 46%);
  --color-bg-code: #a0a9bd;
  --color-bg-full: #ffffff;
  --color-bg: #e7e5e4; /* stone-200 */
  --color-fg-code: #abb2bf;
  --color-fg-feather-inverse: rgba(255, 255, 255, 0.05);
  --color-fg-feather: rgba(0, 0, 0, 0.05);
  --color-fg-full-inverse: #ffffff;
  --color-fg-full: #000000;
  --color-fg-soft-inverse: rgba(255, 255, 255, 0.2);
  --color-fg-soft: hsla(40, 7%, 5%, 0.2);
  --color-fg-strong-inverse: rgba(255, 255, 255, 0.8);
  --color-fg-strong: rgba(0, 0, 0, 0.8);
  --color-fg: hsl(40, 7%, 5%);
  --opacity-dark: 1;
  --opacity-light: 0;
  --background-color: #f8f9fa;
  --primary-color: #dee2e6;
  --font-color: #212529;
  --secondary-font-color: #495057;
}

:root,
.dark {
  --color-accent: hsl(357, 96%, 46%);
  --color-bg-code: #282c34;
  --color-bg-full: rgb(16, 22, 29);
  --color-bg: #1c1917; /* stone-900 */
  --color-fg-code: #abb2bf;
  --color-fg-feather-inverse: rgba(0, 0, 0, 0.05);
  --color-fg-feather: rgba(255, 255, 255, 0.05);
  --color-fg-full-inverse: #000000;
  --color-fg-full: rgb(224, 227, 230);
  --color-fg-soft-inverse: rgba(0, 0, 0, 0.2);
  --color-fg-soft: rgba(255, 255, 255, 0.2);
  --color-fg-strong-inverse: rgba(0, 0, 0, 0.8);
  --color-fg-strong: rgba(255, 255, 255, 0.8);
  --color-fg: hsla(40, 7%, 90%, 0.87);
  --opacity-dark: 0;
  --opacity-light: 1;
  --background-color: #044965;
  --primary-color: #05668d;
  --font-color: white;
  --secondary-font-color: rgba(226, 232, 240, 1);
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
