@import 'variables';
@import 'colors';
@import 'theme-switcher';
@import 'navigation';
@import 'normalize';
@import 'breakpoints';

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-family-base);
  height: 100vh;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-head);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

.page-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px;
}

.post-container {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
}

.post-title {
  grid-column: 2 / -1;
  margin: 0;
  padding: 0;
}

.post-readtime {
  grid-column: 2 / -1;
}

.post-content {
  grid-column: 2 / -2;
  font-size: var(--font-size-normal);
}

.post-navigation {
  display: grid;
  grid-column: 2 / -2;
  grid-template-columns: 2fr 2fr;
}
