@import 'variables';
@import 'colors';
@import 'theme-switcher';
@import 'navigation';
@import 'normalize';

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-family-base);
  height: 100vh;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-head);
  font-weight: var(--font-weight-bold);
}

.page-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px;
}
