:root {
  /** Font Families */
  --font-family-base: 'Source Serif Pro', 'Georgia', serif;
  --font-family-head: 'Inter VF', sans-serif;
  --font-family-mono: 'Source Code Pro', 'Courier New', monospace;

  /** Font Weights */
  --font-weight-thin: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}
