---
title: About
layout: default
---

<div class="container">
    <h1 class="text-5xl">About</h1>
    <div class="flex md:flex-row justify-between items-center m-5">
        <div class="w-1/16 shrink-0 grow-0"></div>
        <div class="w-1/2 shrink-0 grow-0">
            <img class="object-contain max-w-xs" src="/assets/images/profile.png" alt="random image"/>
        </div>
        <div class="w-6/16 shrink-0 grow-0 text-center text-lg">
            <span class="inline-block align-middle">I'm Laura, a Data Engineer from Dortmund, Germany.</span>
        </div>
    </div>
</div>