---
title: About
layout: default
---

<h1 class="text-5xl font-sans">About</h1>
<div class="flex flex-col md:flex-row m-3">
    <div class="md:p-2">
        <img class="object-contain max-w-xs mx-auto" src="/assets/images/profile.jpg" alt="random image"/>
    </div>
    <div class="text-lg pt-2 md:pt-0">
        <span class="inline-block align-middle pt-2">I'm Laura, a Data Engineer from Dortmund, Germany.</span>
        <span class="inline-block align-middle pt-2">In my free time, I am a <a href="https://www.worldcubeassociation.org/persons/2009OHRN01">Speedcuber</a>
        and do voluntary work in both in the <a href="https://www.germancubeassociation.de">national</a> as well as the
        <a href="https://www.worldcubeassociation.org">international</a> speedcubing association.</span>
        <span class="inline-block align-middle pt-2">I also like traveling, going hiking, aquariums, plants and much more
            (too much to list everything here).</span>
    </div>
</div>
<div class="flex justify-between items-center mt-10 p-5">
    <div class="sm:w-1/2 text-lg p-5">
        <h3 class="text-lg font-sans">This page</h3>
        <div>This page is built with <a href="https://www.11ty.dev/">Eleventy</a> (11ty). 11ty is a simple static site generator
        that lets you generate nice websites quickly while still giving you the option to adjust everything according to your preferences.</div>
    </div>
</div>