---
title: Blog
layout: default
---

<h1 class="text-5xl">Blog</h1>
{% for year, yearPosts in collections.postsByYear %}
    <h3 class="text-bold text-xl mb-4">{{ year }}</h3>
    <ul class="list-outside list-disc ml-4 mb-4">
        {% for post in yearPosts | reverse %}
            <li class="mb-4">
                <p class="m-0">
                    <a class="block no-underline" href="{{ post.url }}">
                        <span class="font-bold underline">{{ post.data.title }}</span>
                    </a>
                    {% set tagUrl %}/tags/{{ post.data.tags[1] | slugify }}/{% endset %}
                    <a class="block no-underline" href="{{ tagUrl }}">
                        <span class="inline-block px-2 py-1 ml-2 rounded text-xs">{{ post.data.tags[1] }}</span>
                    </a>
                </p>
                <p class="mt-0 text-gray-600">{% excerpt post %}</p>
            </li>
        {% endfor %}
    </ul>
{% endfor %}