---
title: Blog
layout: base
---

{% for year, yearPosts in collections.postsByYear %}
    <h3 class="text-bold text-xl mb-4">{{ year }}</h3>
    <ul class="list-outside list-disc ml-4 mb-4">
        {% for post in yearPosts | reverse %}
            <li class="mb-4">
                <a class="block no-underline" href="{{ post.url }}">
                    <p class="m-0">
                        <span class="font-bold underline">{{ post.data.title }}</span>
                        <span class="inline-block px-2 py-1 ml-2 rounded text-xs">{{ post.data.tags[1] }}</span>
                    </p>
                    <p class="mt-0 text-gray-600">{% excerpt post %}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}